<div class="container">
  <h1>Posts</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Author</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.content %></td>
          <td><%= post.user.email %></td>
          </tr>
      <% end %>
    </tbody>
  </table>

  <% if current_user %>
    <div class="create-post">
      <%= link_to 'Create New Post', new_post_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
